@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Open+Sans&display=swap');

body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Mobile phone css */
.App{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
form{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input{
    width: 85%;
    border-style:solid;
    border: 0;
    height: 1.5rem;
    outline: none;
    text-align: center;
    color: #1D7874;
}
.btn{
    width: 15%;
    color: #679289;
    font-size: 1.2rem;
    font-weight: 200;
    background-color: white;
    border: 0;
    transition: all 300ms ease;
}
.close_btn{
    width: auto;
    background: white;
    border: 0;
}

/* widget */
.widget_panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.widget{
    width: 90%;
    height: 2rem;
    border: 0.5px solid #1D7874;
    margin-top: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo{
    font-size: 0.8rem;
    margin-left: 1rem;

    color: #679289;
    font-family: 'Open Sans', sans-serif;
}
.tick{
    margin-right: 1rem;
    color: #679289;
}
.btn:hover{
    color: #1D7874;
}
h1{
    margin: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #1D7874;
}